.detail-clinic {
  .detail-clinic-wrap {
    margin-top : 20px;
    padding    : 20px;
  }

  .filter-doctor {
    max-width    : 1180px;
    margin-left  : auto;
    margin-right : auto;
  }

  .detail-clinic-container {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    max-width    : 1180px;
    padding      : 0 20px;
    margin-left  : auto;
    margin-right : auto;
    display      : flex;

    .content-left {
      width   : 55%;
      height  : 300px;
      padding : 15px;
    }

    .content-right {
      width   : 45%;
      height  : 300px;
      padding : 15px;
    }
  }

  .all-time {
    .btn-time {
      background : rgb(0, 140, 255);
      color      : white;
      padding    : 4px 7px;
      border     : 0;

      &:hover {
        background : rgb(70, 167, 246);
      }
    }
  }
}

.h-10 {
  height : 300px;
}

@media screen and (max-width: 767.98px) {
  .detail-clinic {
    .detail-clinic-container {
      flex-direction : column;

      .content-left {
        width  : 100%;
        height : auto;

        .modal-top {
          border : 0;

          .content-info {
            padding-right : 0px;
          }
        }
      }

      .content-right {
        width  : 100%;
        height : auto;
      }
    }
  }
}