.container-add {
  max-width: 1000px;
  width: 100%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.form-control:focus {
  border: 0 !important;
  box-shadow: inset 0.5px 0.5px 0.5px #ddd !important;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.input-label {
  padding: 7px 15px;
  background: rgb(0, 110, 255);
  color: white;
  border-radius: 8px;
}
.opacity-0 {
  opacity: 0;
}
.mr-2 {
  margin-right: 4px;
}
.imgpreview {
  display: flex;
  align-items: start;
  gap: 10px;
}
.img-name {
  color: rgb(0, 140, 255);
}
.border {
  border: 1px solid red;
}
.img-preview {
  width: 100px;
  height: 100px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
