.intro-wrap {
  .intro-container {
    height  : 374px;
    padding : 40px 20px;
    color   : #333;

    display         : flex;
    align-items     : center;
    justify-content : center;
    gap             : 20px;
    background      : #f5f5f5;

    .content-left {
      height : 200px;

    }

    .content-right {
      .logo-container {
        margin-top  : 20px;
        display     : flex;
        align-items : center;
        gap         : 20px;

        .img-container {
          width  : 40px;
          height : 40px;

          img {
            width      : 100%;
            height     : 100%;
            object-fit : cover;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  .intro-wrap {
    .intro-container {
      height  : 412px;
      padding : 10px 20px;
      color   : #333;

      display        : flex;
      flex-direction : column;
      align-items    : start;
      gap            : 20px;
      background     : #f5f5f5;

      .content-left {
        height : 200px;
        margin : 20px 0;
      }
    }
  }
}