.manage-specialty-container {
  margin-top: 20px;
  padding: 0 20px;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  color: #555;
  font-size: 13px;

  .ms-title {
  }
  .btn-addnew-specialty {
    margin-top: 20px;
    padding: 7px 14px;
    background: rgb(0, 106, 255);
    color: white;
    display: inline-block;
    cursor: pointer;
  }
  .all-specialty {
  }
}
.title-specialty {
  padding: 7px 13px;
  background: rgb(0, 106, 255);
  color: white;
  cursor: pointer;
}
.wrap-choose-image {
  display: flex;
  align-items: center;
  gap: 10px;

  input {
    display: none;
  }
}
.img-preview-specialty {
  width: 300px;
  height: 200px;
  padding: 10px 20px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
