.home-header-container {
  height: 77px;
  padding: 10px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);

  .home-header-content {
    padding: 0 20px;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    display: flex;

    .left-content {
      width: 25%;
      display: flex;
      align-items: center;
      gap: 10px;
      .fas.fa-bars {
        font-size: 25px;
      }
      .header-logo {
        background: url("../../assets/image/logo.svg") center center no-repeat;
        height: 40px;
        width: 160px;
      }
    }
    .mid-content {
      width: 50%;
      display: flex;
      align-items: center;
      gap: 15px;
      font-size: 13px;

      .txt-bold {
        font-weight: bold;
      }
      .txt-thin {
        font-size: 10px;
      }
      .child-content {
        display: flex;
        flex-direction: column;
        gap: 3px;
      }
    }
    .right-content {
      width: 25%;

      display: flex;
      align-items: center;
      justify-content: end;
      gap: 15px;

      .txt-help {
        font-size: 16px;
        color: gray;
      }
    }
  }
}
.banner-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4),
      rgba(255, 255, 255, 0)
    ),
    url("../../assets/image/bookingcare-cover-4.jpg") center center no-repeat;

  background-size: cover;

  .banner-header {
    padding: 45px 0;
    text-align: center;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-weight: bold;
    .title1,
    .title2 {
      text-shadow: 1px 1px 1px black;
    }
  }
  .search {
    height: 50px;
    width: 456px;
    padding: 10px 20px;
    background: rgb(255, 238, 0);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;

    input {
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      outline: none;
    }
  }
  .banner-footer {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 15px;
    max-width: 1180px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    color: white;
    font-size: 16px;
    font-weight: medium;

    .option {
      display: flex;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
    }
    .rounded-icons {
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 100rem;
      color: rgb(0, 145, 255);
      font-size: 20px;

      &:hover {
        background: rgb(230, 230, 230);
      }
    }
  }
}
.border {
  border: 1px solid black;
}
@media screen and (max-width: 1023.98px) {
  .home-header-container {
    .home-header-content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .mid-content {
        display: none;
      }
    }
  }
  .banner-container {
    .banner-header {
      padding: 20px 0;
    }
    .banner-footer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      margin-top: 20px;
    }
  }
}
.cursor {
  cursor: pointer;
}
.text-blue {
  color: rgb(0, 140, 255);
  font-weight: bold;
}
