.section-container {
  // background: #f6f6f6;
  background    : ghostwhite;
  // background: #0db0dd;
  height        : 329px;
  width         : 100%;

  &.section-white {
    background : white;
  }

  &.section-doctor {
    height : 380px;
    width  : 100%;
  }

  &.section-about {
    height : 100%;
  }

  .section-content {
    max-width    : 1180px;
    padding      : 20px;
    margin-left  : auto;
    margin-right : auto;

    .section-top {
      display         : flex;
      align-items     : center;
      justify-content : space-between;
      margin-bottom   : 20px;
    }

    .title1 {
      font-size   : 24px;
      font-weight : 600;
      padding     : 15px 0px 5px 0px;
      color       : rgb(0, 170, 255);
      // color: gray;
    }

    .btn-section {
      background     : #ebebeb;
      text-transform : capitalize;
      display        : inline-block;
      padding        : 4px 9px;
      font-weight    : thin;
      color          : #282e41;
      font-size      : 12px;
    }

    .doctor-container {
      cursor                     : pointer;
      height                     : 240px;
      padding                    : 10px 5px;
      display                    : flex !important;
      flex-direction             : column !important;
      align-items                : center !important;
      gap                        : 3px;
      width                      : 100%;
      background                 : white;
      border-top-left-radius     : 37px 140px;
      border-top-right-radius    : 23px 130px;
      border-bottom-left-radius  : 110px 19px;
      border-bottom-right-radius : 120px 24px;
      transform                  : rotate(-1deg);
      box-shadow                 : 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
      transition                 : all 0.13s ease-in;
      border                     : solid 3px #c7c7c7;

      &:hover {
        transform  : translateY(-10px) rotate(1deg);
        box-shadow : 3px 15px 8px -10px rgba(187, 187, 187, 0.3);
      }

      .image-doctor {
        width         : 120px;
        height        : 120px;
        margin-bottom : 3px;

        img {
          border-radius : 100rem;
          width         : 100%;
          height        : 100%;
          object-fit    : cover;
        }
      }
    }

    .title-doctor {
      text-align  : center;
      color       : #111;
      white-space : pre-wrap;
      font-size   : 13px;

      &:hover {
        color  : rgb(0, 119, 255);
        cursor : pointer;
      }
    }

    .title-doctor2 {
      text-align : center;
      color      : #555;
      font-size  : 12px;
    }
  }

  .handbook-content {
    display               : grid !important;
    grid-template-columns : repeat(2, 1fr) !important;
    gap                   : 10px !important;
    cursor                : pointer;
  }

  .handbook-image {
    height : 150px;
    width  : 282px;

    img {
      width      : 100%;
      height     : 100%;
      object-fit : cover;
    }
  }

  .handbook-title {
    font-weight   : bold;
    font-size     : 16px;
    margin-bottom : 15px;
  }

  //about
  .about-content {
    display               : grid;
    grid-template-columns : 3fr 2fr;
    grid-gap              : 10px;
    cursor                : pointer;
  }

  .about-title {
    color : gray;

    &:hover {
      color : rgb(0, 119, 255);
    }
  }

  .name-clinic {
    margin-top  : 4px !important;
    font-weight : 500;
  }
}

.img-container {
  height : 160px;
  cursor : pointer;

  img {
    width      : 100%;
    height     : 100%;
    object-fit : cover;
    overflow   : hidden;
    transition : all 0.3s;

    &:before {
      position          : absolute;
      top               : 0;
      left              : -75%;
      z-index           : 2;
      display           : block;
      content           : '';
      width             : 50%;
      height            : 100%;
      background        : -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
      background        : linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
      -webkit-transform : skewX(-25deg);
      transform         : skewX(-25deg);
    }

    -webkit-filter      : blur(0px);
    filter              : blur(0px);
    -webkit-transition  : .3s ease-in-out;
    transition          : .3s ease-in-out;

    &:hover {
      transform         : rotate(5deg);
      -ms-transform     : rotate(5deg);
      -webkit-transform : rotate(5deg);
      border-radius     : 10px;
      -webkit-filter    : blur(1px);
      filter            : blur(1px);
    }

    &:hover:before {
      -webkit-animation : shine .75s;
      animation         : shine .75s;
    }
  }
}

.slick-slide {
  padding : 0 10px !important;
}

.slick-container {
  margin : 0 -10px;
}

.slick-arrow {
  z-index : 1000;
  z-index : 1 !important;

  &:before {
    font-size : 30px !important;
    color     : rgb(176, 176, 176) !important;
    opacity   : 1 !important;
  }

  &:hover::before {
    opacity : 0.75 !important;
  }

  // &:hover {
  //   opacity: 0.75 !important;
  // }
  &.slick-prev {
    left : -17px;
  }

  &.slick-next {
    right : -7px;
  }
}

.h {
  height : 300px;
}

@keyframes smoothScroll {
  0% {
    transform : translateY(-40px);
  }

  100% {
    transform : translateY(0px);
  }
}

@-webkit-keyframes shine {
  100% {
    left : 125%;
  }
}

@keyframes shine {
  100% {
    left : 125%;
  }
}

.is-sticky {
  position         : fixed;
  top              : 0;
  left             : 0;
  width            : 100%;
  z-index          : 999;
  box-shadow       : 0 2px 24px 0 rga(0 0 0);
  background-color : #ffffff !important;
  animation        : 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top      : 0px;
  padding-bottom   : 0px;
  transition       : all 0.5s ease-in-out;
  animation        : smoothScroll 1s forwards !important;
}

.box-shadow-3d {
  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
    4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999;
}

.shadow {
  -webkit-box-shadow : 3px 3px 5px 6px #ccc;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow    : 3px 3px 5px 6px #ccc;
  /* Firefox 3.5 - 3.6 */
  box-shadow         : 3px 3px 5px 6px #ccc;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.name-specialty {
  font-weight : 500;
}

@media screen and (max-width: 1023.98px) {
  .section-container {
    .handbook-content {
      display               : grid !important;
      grid-template-columns : repeat(1, 1fr) !important;
      gap                   : 5px !important;
    }

    .handbook-image {
      width      : 100%;
      height     : 160px;
      object-fit : cover;
    }
  }
}

@media screen and (max-width: 767.98px) {
  .section-container {

    .about-content {
      grid-template-columns : 1fr;
    }
  }

  .banner-container {
    height : 98vh;
  }
}